.navbarWrapper{

}

.navbarWrapper li a {
    display: block;
    color: black;
    padding-top: 25px;
    padding-left: 10px;
    text-decoration: none;
}
.navbarWrapper li{
  float: left;
}

.navbarWrapper .navbar{
  height: 8%;
  width: 100%;
  border-bottom: 1px;
  border-color: #bfbfbf;
  border-bottom-style: solid;
  position: fixed!important;
  background-color: #FFFFFF;
}

.navbarWrapper ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
