.navbar {
   height: 8%;
   width: 100%;
   background: linear-gradient(#E3E3E3, #D4D4D4);
   border-color: #bfbfbf;
   border-style: solid;
   border-width: 1px 0px 1px 0px;
   position: fixed!important;
   white-space: nowrap;
   overflow: hidden;
}

.navbar li a {
   color: black;
   padding-top: 18px;
   padding-left: 10px;
}

.navbar ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}
