li a {
    display: block;
    color: black;
    padding-top: 25px;
    padding-left: 10px;
    text-decoration: none;
}
li{
  float: left;
}
.sidebar {
  height: 92%;
  width: 15%;
  bottom: 0px;
  border-right: 1px;
  border-color: #bfbfbf;
  border-right-style: solid;
  position: fixed!important;
  z-index: 1;
  margin: auto;
  white-space: nowrap;
  overflow:hidden;
}

.sidebar .sidebarItem {
  width: 100%;
  color:black;
  display: block;
  text-align: left;
  border: none;
  outline: none;
}
.sidebar .sidebarItem:hover {
  transition: .2s;
  background-color: #cccccc;
}

