.sidebar {
  top: 11%;
  height: 92%;
  width: 15%;
  background-color: #F5F5F5;
  border-width: 1px 1px 0px 0px;
  border-color: #bfbfbf;
  border-style: solid;
  position: fixed!important;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar ul {
  padding: 0px;
}

.sidebar ul ul {
  padding: 20px;
}

.sidebar li a {
  display: block;
  color: black;
}

.sidebarWrapper .sidebar .sidebarItem {
  width: 100%;
  color: black;
  display: block;
  text-align: left;
  border: none;
  outline: none;
  padding: 10px 10px;
}

.sidebar .sidebarItem:hover {

  transition: .2s;
  background-color: #D8D8D8;
}
