table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
  height: 100%
}

td {
  text-align: left;
  padding: 10px;
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: #FFFFFF;
  color: black;
}

tr:nth-child(odd) {
  background-color: #F0F0F0;
  color: black;
}

thead td {
  background-color: #FFFFFF;
  color: black;
  font-weight: bold
}

tr:hover {
  transition: .2s;
  background-color: #cccccc;
}

.placeholder {
  opacity: .50;
}
